
h1{
   color: green;
   font-size: xx-large;
}

h2{
    color: brown;
    font-size: larger;
}

h3{
    font-size:larger;
    color: coral;
}

h4{
    font-size: larger;
    color: chocolate;
}


h5{
    font-size:larger;
    color: crimson;
}

h6{
    font-size:larger;
}

body{
    background-color: mediumaquamarine;